* {
  box-sizing: border-box;
}
nav {
  text-align: right;
  position: fixed;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  
  display: grid;
}

header.nav {
  background-color: red;
}
/* Float three columns side by side */
.column {
  float: left;
  max-width: 340px;
  min-width: 340px;
  padding: 0 10px;
 
}

/* Remove extra left and right margins, due to padding */
.row {
  margin: 0 0 80px 450px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/*.sticky {

  }*/
  .main-nav li {
  display: inline;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}
/*style the card's body*/
div .card-body {
  background-color: white;
  padding: 20px;
}

/*style the button*/
.button {
  border: none;
  border-radius: 5px;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: white;
  color: #007bff;
  border: 2px solid #007bff;
}

.button1:hover {
  background-color: #007bff;
  color: white;
}

.button2 {
  background-color: white;
  color: #007bff;
  border: 2px solid #007bff;
}

.button2:hover {
  background-color: #007bff;
  color: white;
}

a {
  text-decoration: none;
}

.name,
.main-nav,
.main-nav li {
  display: inline;
}

.name {
  float: left;
}
.main-nav {
  float: right;
}
.price {
  font-weight: bold;
  font-size: 25px;
}

.main-header {
  overflow: hidden;
  border-bottom: 3px;
  border-bottom-color: rgb(134, 133, 136);
  border-bottom-style: solid;
  margin-left: 20px;
  margin-right: 20px;
}
.container {
  margin: auto;
}
.main-paragraph{
  margin: 80px;
  text-align: center;
}

.main-footer{
  border-top-color: grey;
  border-top-style: solid;
  
}
.wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 1000px;
  justify-content: center;
  margin: auto;
}

.col li{
  list-style: none;
}

li span{
  font-size: 1.5em;
}